{% extends "base.html" %}
{% load static %}

{% block title %}Login - NutriKids{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body p-5">
                    <h2 class="text-center mb-4">Login <h2 class="color_login">NutriKids</h2> </h2>
                    
                    <!-- Mensagens do Django -->
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %} alert-dismissible fade show">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Entrar</button>
                    </form>
                    
                    <div class="text-center mt-3">
                        <p>Não tem conta? <a style="color: #ff8800;" "{% url 'cadastro' %}">Cadastre-se aqui</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .color_login {
        color: #ff8800;
        text-align: center;
        font-size: 50px;
        margin-bottom: 50px;
    }

    .container.mt-5 {
        min-height: 70vh;
        padding-bottom: 50px;
    }

    .card.shadow {
        margin-bottom: 50px;
        border-radius: 50px;
        border-color: #00f05c;
    }

</style>
{% endblock %}